%span.border.border-gray-300{class: "#{page.current? ? 'pointer-events-none bg-blue-100 text-blue-600' : 'bg-white'}"}
  = link_to page, url, {remote: remote, rel: page.rel, class: "flex flex-col items-center justify-center self-stretch px-3 py-1.5"}
