%h1{style: "font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;color: #3F3F46"}
  We have received your investment commitment

%p{style: "margin:0 0 20px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Thank you #{@lender.full_name} We have received your investment commitment of #{number_to_currency(@amount)} in the #{@deal.name} deal.