%main.grid.min-h-full.place-items-center.center-container
  .text-center
    %p
      %svg.mx-auto{:fill => "none", :height => "120", :viewbox => "0 0 120 120", :width => "120", :xmlns => "http://www.w3.org/2000/svg"}
        %rect{:fill => "#F0FDF4", :height => "116", :rx => "58", :width => "116", :x => "2", :y => "2"}
        %path{"clip-rule" => "evenodd", :d => "M81.4627 44.9369C82.0626 45.537 82.3996 46.3508 82.3996 47.1993C82.3996 48.0478 82.0626 48.8616 81.4627 49.4617L55.8627 75.0617C55.2626 75.6616 54.4489 75.9986 53.6003 75.9986C52.7518 75.9986 51.938 75.6616 51.3379 75.0617L38.5379 62.2617C37.955 61.6582 37.6325 60.8499 37.6398 60.0108C37.6471 59.1718 37.9836 58.3692 38.5769 57.7759C39.1702 57.1826 39.9728 56.8461 40.8118 56.8388C41.6509 56.8315 42.4592 57.154 43.0627 57.7369L53.6003 68.2745L76.9379 44.9369C77.538 44.337 78.3518 44 79.2003 44C80.0489 44 80.8626 44.337 81.4627 44.9369Z", :fill => "#22C55E", "fill-rule" => "evenodd"}
        %rect{:height => "116", :rx => "58", :stroke => "#22C55E", "stroke-width" => "4", :width => "116", :x => "2", :y => "2"}
    %h1.mt-4.text-2xl.tracking-tight.text-gray-900.font-serif= t('.thanks_for_signing_up')
    %p.mt-6.text-base.leading-7.text-gray-600= t('.approval_request_message')
    .mt-10.flex.items-center.justify-center.gap-x-6