%h1{style: "font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;color: #3F3F46"}
  Hello #{@resource.email}!
%p{style: "margin:0 0 30px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Someone has requested a link to change your password. You can do this through the link below.
%a{href: edit_password_url(@resource, reset_password_token: @token), style: "text-decoration: none; color: inherit;"}
  %table{style: "margin:0 0 30px 0;background-color: #3B77A8; border: none; padding: 8px 12px; font-size: 16px; color: white; border-radius: 5px; cursor: pointer;font-family:Arial,sans-serif;"}
    %tr
      %td
        Change my password
%p{style: "margin:0 0 30px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  If you didn't request this, please ignore this email.
%p{style: "margin:0 0 0px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Your password won't change until you access the link above and create a new one.