%h1{style: "font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;color: #3F3F46"}
  Your account is ready

%p{style: "margin:0 0 10px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Hi #{@user.name},

%p{style: "margin:0 0 20px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Great news! Your Levitas account has been successfully approved, and you're now part of a community that's transforming private lending.

%a{href: root_url, style: "text-decoration: none; color: inherit;"}
  %table{style: "margin:0 0 20px 0;background-color: #3B77A8; border: none; padding: 8px 12px; font-size: 16px; color: white; border-radius: 5px; cursor: pointer;font-family:Arial,sans-serif;"}
    %tr
      %td
        Login to your account

%p{style: "margin:0 0 10px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  If you have any questions or need assistance, our support team is here to help. Feel free to reply this email or contact us at support@levita.com

%p{style: "margin:0 0 10px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Welcome aboard! We look forward to supporting your lending journey.

%p{style: "margin:0 0 10px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  Best regards,
%p{style: "margin:0 0 10px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
  The Levitas Team