.flex.items-center.p-6.gap-6.bg-blue-50.border.border-blue-200.rounded-xl
  .flex.items-center.justify-center.p-5.md:p-9.border.border-2.rounded-full.bg-blue-100.border-blue-400.select-none{class: "w-[100px] h-[100px] min-w-[100px] min-h-[100px] max-w-[100px] max-h-[100px] md:w-[120px] md:h-[120px] md:min-w-[120px] md:min-h-[120px] md:max-w-[120px] md:max-h-[120px]"}
    = image_tag "icons/search.svg", class: "w-8 h-8 md:w-12 md:h-12"
  .flex.flex-col.gap-2.text-gray-600
    %h4.font-serif.font-bold Review in progress
    %p.text-sm Your deal is currently being reviewed by our team. We are carefully assessing the terms and conditions to ensure a smooth and secure process.
